#navbar{
    width: 100%;
    height: 80px;
    background-color: #3b3838;
    display: flex;
    justify-content: space-between;
    
}
a{
    text-decoration: none;
    color: white;
    font-weight: 700;
    font-size: 15px;
}
#first_half{
    width: 55%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;

font-family:Arial, Helvetica, sans-serif;
}

svg{
    width: 30px;
    height: 30px;
    cursor: pointer;
}

#svg{
  width: 30px;
  height: 30px;
  cursor: pointer;
  margin-top: 10px;
  margin-right: 30px;
}
.z1asCe{
  fill: white;
}

#line{
    width: 2px;
    height: 40px;
    background-color: white;
}

#call{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
#logo{
    width: 170px;
    height: 40px;
    margin-left: 20px;
}

#second_half{
    width: 33%;
   display: flex;
   align-items: center;
   float: right;
   justify-content: space-around;
}
#try_for_free{
    background-color: #3b3838;
    color: white;
    height: 40px;
    width: 150px;
    border: 1px solid white;
    cursor: pointer;
}

  .arrow_p {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 3px;
  }
  button{
    background-color: #3b3838;
    color: white;
    border: none;
    font-size: 15px;
    cursor: pointer;
  }
  
  .arrow_r {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 3px;
  }
  
  .arrow_s {
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 3px;
  }
  .arrow_Platform{
    border: solid white;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    transform: rotate(45deg);
    margin-left: 3px;
  }


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.modal_one {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 88px; */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-top: 90px;
  }
  
  /* Modal Content */
  .modal-content_one {
    background-color: #161515;
    margin: auto;
    padding: 25px;
    width: 80%;
    color: #fefefe;
    display: flex;
  }
  
  /* The Close Button */
  .close_one {
    color: #fefefe;
    right: 150px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
  }
  
  .close_one:hover,
  .close_one:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  
  




  .modal_two {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 87px;  */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-top: 90px;
  }
  
  /* Modal Content */
  .modal-content_two {
    background-color: #0c0b0b;
    margin: auto;
    padding: 30px;
    border: none;
    width: 40%;
    display: flex;

  }


  .close_two {
    color: #fefefe;
    right: 430px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
  }
  
  .close_two:hover,
  .close_two:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }



  .modal_three {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 87px; */
     /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-top: 90px;
  }
  
  /* Modal Content */
  .modal-content_three {
    background-color: #0c0b0b;
    margin: auto;
    padding-left: 30px;
    border: none;
    width: 70%;
    display: flex;
    color: white;
  }

  .close_three {
    color: #fefefe;
    right: 200px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;

  }
  
  .close_three:hover,
  .close_three:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }





  .modal_four {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 87px;  */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-top: 90px;
  }
  
  /* Modal Content */
  .modal-content_four {
    background-color: rgb(22, 21, 21);
    margin: auto;
    padding: 30px;
    border: none;
    width: 30%;
    display: flex;
    right: 30px;
    position: absolute;
  }



  .close_four {
    color: #fefefe;
    right: 50px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
  }
  
  .close_four:hover,
  .close_four:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }


  .modal_five {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    /* padding-top: 87px;  */
    /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    margin-top: 90px;
  }
  
  /* Modal Content */
  .modal-content_five {
    background-color: #0c0b0b;
    margin: auto;
    padding: 20px;
    border: none;
    width: 80%;
    display: flex;
    color: white;
    right: 50px;
    left: 50px;
    position: absolute;
  }

  .close_five {
    color: #aaaaaa;
     right: 40px;
    font-size: 28px;
    font-weight: bold;
    position: absolute;
  }
  
  .close_five:hover,
  .close_five:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }




   
.good{
    width: 250px;
    margin-bottom: 20px;
}
 .good img{
    margin-right: 20px;
  }
  .good a{
    text-decoration: none;
    font-size: 18px;
  }
  .good_for_skill{
    margin-bottom: 18px;
    font-size: 20px;
  }

  #horizontal_line{
    height: 350px;
    width: 0.1px;
    background-color: rgb(128, 124, 124);
    margin-left: 20px;
    margin-right: 40px;
  }

  #first{
    display: flex;
    margin: auto;
    margin-top: 20px;
  }

  .inerdiv{
    width: 250px;
    height: 55px;
    border: none;
    margin-right: 30px;
    border-radius: 10px;
    background-color:#1f1d1d;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .div_of{
    width: 180px;
    height: 50px;
    border: none;
    border-radius: 10px;
    background-color:#1f1d1d;
    padding-bottom: 0px;
  }
  
  #images_o{
    width: 50px;
    height: 50px;
  }

  #Microsoft{
    margin-left: 50px;
  }

.ps,.pr{
    font-size: 15px;
    margin-top: 2px;
    margin-bottom: 0px;
}
.see_our,.see_our a{
 margin-top: 50px; 
 font-size: 18px;
 width: 170px;
}
.ziz{
  font-size: 20px;
  line-height: 40px;
}

body{
  background-color:#000;
}
.light{
  color: #aaaaaa;
}
#hr_line{
  width: 800px;
  height: 1px;
  right: 130px;
  top: 330px;
  background-color: rgb(109, 102, 102);
  position: absolute;
}
.nav-product-icon{
    width: 140px;
    height: 20px;
}

.nav-product-title{
    background-color: #464343;
    width: 200px;
    height: 1px;
}

#line_for_c{
    width: 1px;
    height: 130px;
    background-color: #474343;
    margin-left: 20px;
    margin-right: 20px;
}

#linebox{
  width: 1px;
  height: 350px;
  background-color: #fefefe;
  margin-right: 60px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.nav-resource-section{
   width: 200px;  
   padding-top: 30px;
}
.nav-resource-secondary{
  width: 280px;
  padding-top: 30px;
}
.nav-resource-secondary a{
  font-size: 18px;
    line-height: 40px;
}
.nav-resource-section a{
    font-size: 18px;
    line-height: 40px;
}
 
#btn_check_out{
  background-color: rgb(161, 8, 59);
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 20px;
  margin-bottom: 30px;
  margin-top: -20px;
}


.nav-header--label{
    margin-top: 10px;
    margin-bottom: 20px;
    color: #aaaaaa;
}

.Title{
    width: 220px;
    height: 350px;
    background-color: #353333;
    margin-left: 30px;
}
.title2{
  width: 415px;
  height: 410px;
  background-color: #353333;
}
.Title h3{
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 20px;
}

.Title h6{
   font-size: 22px;
   margin-top: 0px;
   margin-bottom: 40px;
}

.title--white button{
  padding: 20px;
  background-color: palevioletred;
}

#vertical_line{
    width: 1px;
    height: 100px;
    background-color: #fefefe;
    margin-left: 25px;
    margin-right: 25px;
}

.nav-signin-item-logo{
    width: 160px;
    height: 25px;
}

#search_itom{
    width: 100%;
    height: 40px;
    border: none;
    border: 2px solid #0c0b0b;
    background-color: #0c0b0b;
    color: #fefefe;
    font-size: 20px;
    
}

::placeholder {
    color: white;
    font-size: 20px;
  }
  input:focus{
    outline: none;
  }


